@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

p.font { font-family: 'New Tegomin', serif; }
p {
	font-size: 30px;
}
p.font2 {font-family: 'Train One', cursive;}